.staff-details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .staff-details-head {
    display: flex;
    align-items: center;
    gap: 32px;
    .staff-name {
      font-weight: 500;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 1%;
      color: #0a160c;
      margin-bottom: 8px;
    }
    .staff-position {
      font-weight: 400;
      font-style: Book;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0%;
      color: #687a6b;
      margin-bottom: 0;
    }
  }
  .staff-image-container {
    // max-width: 134px;
    // max-height: 134px;
    width: 134px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  p {
    font-size: 20px;
    color: #687a6b;
    font-weight: book;
    margin-bottom: 32px;
  }
}
