.programs {
    background: linear-gradient(180deg, #E8FFEB 17.24%, #FFFFFF 100%);

    &>div {
        display: flex;
        flex-direction: column;
        gap: 6.875rem;
    }

    .programdetail {
        h1 {
            margin-bottom: 2.5rem;
            font-weight: 500;
            font-size: 2.75rem;
            line-height: 3.5rem;
            letter-spacing: 1%;
            color: #0A160C;
        }

        p {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.625rem;
            letter-spacing: 0%;
            color: #687A6B;

        }
    }
}