.list-item {
  display: flex;
  padding: 0.625rem;
  gap: 1rem;
  border-bottom: 0.0625rem solid #d9d9d9;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
  color: #0a160c;
  font-weight: 600;
  justify-content: space-between;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &.nobborder {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}