.list-item {
  display: flex;
  padding: 10px;
  gap: 16px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 32px;
  padding-bottom: 32px;
  font-size: 20px;
  color: #0a160c;
  font-weight: 600;
  justify-content: space-between;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    &:focus {
      outline: none;
    }
  }
  &.nobborder {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
