.contact-page {
    background: url('/images/contactBG.png') no-repeat center center;
    height: 43.75rem;

    .contact-container {
        h1 {
            width: 100%;
            max-width: 46.875rem;
            font-weight: 500;
            font-size: 2.75rem;
            line-height: 3.5rem;
            letter-spacing: 1%;
            color: #0A160C;
            margin-bottom: 2.5rem;
        }

        .contact-contact {
            margin-bottom: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .giveCall {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.875rem;
                letter-spacing: 0%;
                color: #687A6B;
            }

            .contact-phone {
                display: flex;
                align-items: center;
                gap: 2.5rem;

                @media (max-width: 42rem) {
                    flex-direction: column;
                    align-items: center;
                }

                .contact-numbers {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }

                    .contact-number {
                        font-weight: 700;
                        font-size: 1.75rem;
                        line-height: 1.875rem;
                        letter-spacing: 0%;
                        color: #71B15E;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                hr {
                    width: 0.125rem;
                    border: 0;
                    background: #687A6B;
                    height: 1.75rem;
                }
            }
        }

        .contact-data {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.875rem;
            letter-spacing: 0%;
            color: #687A6B;
            margin-bottom: 1.5rem;
        }

        .contact-address {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.875rem;
            letter-spacing: 0%;
            color: #0A160C;
            margin-bottom: 1.5rem;
        }

        .contact-buttons {
            margin-bottom: 11.25rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .direction-button {
                display: flex;
                align-items: center;
                gap: 0.125rem;
                border: 0.0625rem solid #F3B828;
                padding: 0 0.9375rem;
                height: 3.375rem;
                border-radius: 1rem;
                background: #FFFBF3;
                color: #222222;
                font-weight: 700;
                font-style: Bold;
                font-size: 1rem;
                line-height: 1.625rem;
                letter-spacing: 1%;

                &:focus {
                    outline: none;
                }
            }

            .fill-form-button {
                display: flex;
                align-items: center;
                border: 0.0625rem solid #F3B828;
                padding: 0 3.125rem;
                height: 3.375rem;
                border-radius: 1rem;
                background: #F3B828;
                color: #222222;
                font-weight: 700;
                font-style: Bold;
                font-size: 1rem;
                line-height: 1.625rem;
                letter-spacing: 1%;

                &:focus {
                    outline: none;
                }
            }
        }

        @media (max-width: 62rem) {
            .contact-container {
                padding: 1.5rem;

                .contact-contact {
                    flex-direction: column;
                    align-items: center;
                }

                .contact-phone {
                    flex-direction: column !important;
                    align-items: center;
                }
            }
        }
    }
}