.programs {
    background: linear-gradient(180deg, #E8FFEB 17.24%, #FFFFFF 100%);

    &>div {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &.programdetail {
        h1 {
            margin-bottom: 40px;
            font-weight: 500;
            font-size: 44px;
            line-height: 56px;
            letter-spacing: 1%;
            color: #0A160C;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #687A6B;

        }
    }

    .home-section-2 {
        background: url("/images/homebg2.svg");
        z-index: 4;
        margin-top: 120px;
        padding-top: 227px;
        padding-bottom: 100px;

        h1 {
            color: #f8f8f8;
            font-size: 44px;
            line-height: 56px;
            font-weight: 600;
            margin-bottom: 32px;
        }

        p {
            font-size: 20px;
            line-height: 26px;
            color: #c7d9ca;
            padding-bottom: 80px;
            width: 100%;
            max-width: 785px;
        }

        p.item {
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 1%;
            color: #F8F8F8;
            margin-bottom: 52px;
            padding-bottom: 0;

            b {
                font-weight: 500;
            }
        }
    }
}