.agendas {
  padding-top: 5rem;

  .previousAgenda {
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    h1 {
      color: #0a160c;
      font-size: 2.75rem;
      font-weight: 600;
    }

    h2 {
      color: #0a160c;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
    }

    .agendaItems {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      row-gap: 0;
    }
  }
}