.parent-committee {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 5rem;

  p {
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #687a6b;
    font-weight: 400;
  }

  h2 {
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 3.5rem;
    letter-spacing: 1%;
    color: #0a160c;
    margin-bottom: 2rem;
  }

  h4 {
    color: #0a160c;
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
  }

  ul {
    padding-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.6;
    padding-left: 1.5625rem;
    letter-spacing: 0;
    margin: 0;
    list-style-type: disc;

    li {
      color: #687a6b;
      font-weight: 400;
    }
  }

  .note {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 0%;
    color: #0a160c;
  }
}