.list-item.left,
.list-item.right {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  color: #0a160c;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .list-item__image {
    min-width: 42%;
    max-width: 42%;
  }

  .list-item__content {
    min-width: 48%;
    max-width: 48%;

    .list-item__title {
      font-weight: 500;
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: 1%;
      color: #0a160c;
      margin-bottom: 1rem;
    }

    .list-item__data {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.625rem;
      letter-spacing: 0%;
      color: #687a6b;
      margin-bottom: 2rem;
    }

    .list-item__tag {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: 1%;
      color: #0a160c;

      &.tags {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 0.0625rem solid #d9d9d9;
      }
    }
  }
}

.list-item.right {
  flex-direction: row-reverse;
}

.list-item.main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;

  .list-item__image {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-item__content {
    min-width: 100%;
    max-width: 100%;

    .list-item__title {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 100%;
      letter-spacing: 1%;
      color: #0a160c;
      margin-bottom: 1rem;
      text-align: center;
    }

    .list-item__data {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.625rem;
      letter-spacing: 0%;
      color: #687a6b;
      margin-bottom: 2rem;
      text-align: center;
    }

    .list-item__tag {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: 1%;
      color: #0a160c;
    }
  }
}