body.page-id-18 .elementor-section.EPA {
  padding-top: 5rem !important;
}
body.page-id-18 .elementor-section.EPA .elementor-widget-heading.titleEPA {
  padding-top: 2rem !important;
  margin: 0 0 2rem !important;
}
body.page-id-18 .elementor-section.EPA .elementor-widget-heading.titleEPA h3.elementor-heading-title {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.375rem !important;
  line-height: 1.4 !important;
  color: #0a160c !important;
  font-weight: 400 !important;
}
