body.page-id-38 .elementor-section.parent-committee {
  display: block;
  padding-top: 5rem !important;
}
body.page-id-38 .elementor-section.parent-committee > .elementor-container {
  width: 100% !important;
  max-width: 71.25rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important;
  box-sizing: border-box !important;
}
body.page-id-38 .elementor-section.parent-committee > .elementor-container > .elementor-column > .elementor-widget-wrap > .rsms-el-source-group-start {
  margin-top: 5rem !important;
}
body.page-id-38 .elementor-section.parent-committee p {
  font-size: 1.25rem !important;
  letter-spacing: 0;
  line-height: 1.5rem !important;
  color: #687a6b !important;
  font-weight: 400 !important;
}
body.page-id-38 .elementor-section.parent-committee h2 {
  font-weight: 500 !important;
  font-size: 2.75rem !important;
  line-height: 3.5rem !important;
  letter-spacing: 0.01em;
  color: #0a160c !important;
  margin-bottom: 2rem !important;
}
body.page-id-38 .elementor-section.parent-committee h4 {
  color: #0a160c !important;
  font-size: 1.25rem !important;
  line-height: 1.625rem !important;
  margin-bottom: 1.25rem !important;
  font-weight: 600 !important;
}
body.page-id-38 .elementor-section.parent-committee .note p {
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  line-height: 1.625rem !important;
  color: #0a160c !important;
}
