.homelessness-services {
  .homelessness-video {
    width: 60%;
    aspect-ratio: 16 / 9;
    border: none;
    margin-top: 2.125rem;
  }

  p {
    margin-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #687a6b;
  }
}