.carousel {
  position: relative;
  width: 32.875rem;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  z-index: 2;

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 32.875rem;
    max-height: 21.875rem;
    border-radius: 1rem;
    display: block;
  }

  &__border {
    position: absolute;
    pointer-events: none;

    &.top {
      z-index: 1;
      top: -3.4375rem;
    }

    &.bottom {
      z-index: 1;
      bottom: -2.5rem;
      left: -2.5rem;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;

    .carousel__dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #bbb;
      cursor: pointer;

      &.active {
        background: #fff;
      }
    }
  }
}

@media (max-width: 62rem) {
  .carousel {
    position: relative;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: 0.75rem;
    z-index: 2;

    &__image-wrapper {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 21.875rem;
      border-radius: 1rem;
      display: block;
    }
  }
}